#MainC{
    background: green;
}

#btnGroup{
    display: flex;
}

#scroll{
    width:100%;
    border:solid 1px;
    display: none;
}

#scroll table{
    width:100%;
    height:100%;
}

#scroll td{
    text-align: center;
    height:100px;
}

#showScreen{
    display:block;
}

.scrollList{
    display: none;
}